body,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,legend,li,ol,p,table,ul,td,th,tr{margin:0;padding:0}
ul{list-style:none}
body{font-size:12px;font-family:"微软雅黑";columns:#333}
a{text-decoration:none;color:#ffffff;}
img{vertical-align:top;border:none}
input{outline:0}